<span><%= data.summary.charAt(0).toUpperCase() + data.summary.slice(1).toLowerCase() %></span>

<% isWindSpeedBelowMph = function(mphValue) {
	if (params.windUnit === 'm/s' && data.windSpeed < mphValue*0.447) {
		return true;
	}
	if (params.windUnit === 'km/h' && data.windSpeed < mphValue*1.609) {
		return true;
	}
	if (params.windUnit === 'mph' && data.windSpeed < mphValue) {
		return true;
	}
	return false;
}%>

<% if (Math.abs(data.temperature - data.apparentTemperature) > 3 ) { %>
	<span>
		feels like
		<%= Math.round(data.apparentTemperature) %>°
	</span>
<% } %>

<span>with
<% if (isWindSpeedBelowMph(2)) { %>
	no wind
<% } else { %>
	a <%= Math.round(data.windSpeed) %>
		<span><%= params.windUnit %>
		<% if (isWindSpeedBelowMph(32)) { %>
			breeze
		<% } else if (isWindSpeedBelowMph(39)) { %>
			wind
		<% } else { %>
			gale
		<% } %>
		</span>
<% } %>
</span>

<% if (data.precipProbability > 5) { %>
	<span><%= Math.round(100 * data.precipProbability) %>% chance of</span>

	<% if (data.precipIntensity > 0) { %>
		<span class="nowrap">
			<% if (data.precipIntensity < 0.002) { %>
				Very light
			<% } else if (data.precipIntensity < 0.017) { %>
				Light
			<% } else if (data.precipIntensity < 0.1) { %>
				Moderate
			<% } else if (data.precipIntensity < 0.4) { %>
				Heavy
			<% } %>

			<%= data.precipType %>.
		</span>
	<% } %>

<% } %>
