<p class="status-subtitle">

	<span><%= currently.summary %>,</span>

	<% if (Math.abs(currently.temperature - currently.apparentTemperature) > 3 ) { %>
		<span>
			feels like 
			<%= Math.round(currently.apparentTemperature) %>°
		</span>
	<% } %>

	<% if (currently.windSpeed < 2) { %>
		<span>with no wind.</span>
	<% } else { %>
		<span>with a <%= Math.round(currently.windSpeed) %>mph breeze.</span>
	<% } %>

	<% if (currently.precipProbability > 5) { %>
		<span><%= Math.round(100 * currently.precipProbability) %>% chance of</span>
	<% } %>

	<% if (currently.precipIntensity > 0) { %>
		<span>
			<% if (currently.precipIntensity < 0.002) { %>
				Very light
			<% } else if (currently.precipIntensity < 0.017) { %>
				Light
			<% } else if (currently.precipIntensity < 0.1) { %>
				Moderate
			<% } else if (currently.precipIntensity < 0.4) { %>
				Heavy
			<% } %>

			<%= currently.precipType %>.
		</span>
	<% } %>

</p>
