<form action="/<%= params.locationSearch %>" method="get" class="flex wrap m-b-xs center-h btn-wrap">
  <button type="submit" value="us" class="btn-secondary<%= params.units === 'us' ? ' current' : '' %>">째F, mph</button>
  <button type="submit" value="ca" class="btn-secondary<%= params.units === 'ca' ? ' current' : '' %>">째C, km/h</button>
  <button type="submit" value="si" class="btn-secondary<%= params.units === 'si' ? ' current' : '' %>">째C, m/s</button>
  <button type="submit" value="uk2" class="btn-secondary<%= params.units === 'uk2' ? ' current' : '' %>">째C, mph</button>
</form>

