<h4 class="sr-only">Switch units</h4>
<form action="/<%= params.locationSearch %>" method="get">
  <ul class="flex wrap m-b-xs center-h btn-wrap">
    <% for (var unitProp in params.defaultUnits) { %>
      <li>
        <label id="<%= unitProp %>-label" class="sr-only"><%= params.defaultUnits[unitProp].desc %><%= params.units === unitProp ? ' (current)' : '' %></label>
        <button type="submit" value="<%= unitProp %>" class="btn-secondary<%= params.units === unitProp ? ' current' : '' %>" aria-labelledby="<%= unitProp %>-label" name="units"><span aria-hidden="true">ยบ<%= params.defaultUnits[unitProp].scale %>, <%= params.defaultUnits[unitProp].speed %></span></button>
      </li>
    <% } %>
  </ul>
</form>

