<h4 class="sr-only">Switch units</h4>
<form action="/<%= params.locationSearch %>" method="get">
<ul class="flex wrap m-b-xs center-h btn-wrap">
  <li>
    <label id="us-label" class="sr-only">Fahrenheit, imperial</label>
    <button type="submit" value="us" class="btn-secondary<%= params.units === 'us' ? ' current' : '' %>" aria-labelledby="us-label"><span aria-hidden="true">째F, mph</span></button>
  </li>
  <li>
    <label id="ca-label" class="sr-only">Celsius, metric (km/h)</label>
    <button type="submit" value="ca" class="btn-secondary<%= params.units === 'ca' ? ' current' : '' %>" aria-labelledby="ca-label"><span aria-hidden="true">째C, km/h</span></button>
  </li>
  <li>
    <label id="si-label" class="sr-only">Celsius, metric (m/h)</label>
    <button type="submit" value="si" class="btn-secondary<%= params.units === 'si' ? ' current' : '' %>" aria-labelledby="si-label"><span aria-hidden="true">째C, m/s</span></button>
  </li>
  <li>
    <label id="uk2-label" class="sr-only">Celsius, imperial</label>
    <button type="submit" value="uk2" class="btn-secondary<%= params.units === 'uk2' ? ' current' : '' %>" aria-labelledby="uk2-label"><span aria-hidden="true">째C, mph</span></button>
  </li>
</ul>
</form>

