<section>
  <% for (var i = 2; i < 4; i++) { %>
    <section class="card card-block">
      <h3 class="small muted">
        <%= moment.unix(daily.data[i].time).format('dddd') %>,
        <%= moment.unix(daily.data[i].time).format('MMM Do') %>
      </h3>
      <p class="forecast-primary"><%= daily.data[i].summary %></p>
      <p>
        <span class="small">Precipitation</span>
        <span class="forecast-inline-secondary"><%= Math.round(daily.data[i].precipProbability * 100) %>%</span>
        <span class="forecast-inline-secondary">
          <%= Math.round(daily.data[i].windSpeed) %>
          <span class="small"><%= params.windUnit %></span>
        </span>
      </p>
      <p>
        <span class="small">High</span> <%= Math.round(daily.data[i].temperatureMax) %>°
        <span class="small">Low</span> <%= Math.round(daily.data[i].temperatureMin) %>°
      </p>
  <% } %>
</section>
