<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Math.round(currently.temperature) %>° <%= currently.summary.charAt(0).toUpperCase() + currently.summary.slice(1).toLowerCase() %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A super fast weather site in under 10kb">
    <meta property="og:email" content="julian@juliannorton.com">
    <meta name="robots" content="Index, follow">
    <meta http-equiv="refresh" content="600">
    <style><%- include('../../public/style/main.css') %></style>
    <link rel="apple-touch-icon" sizes="48x48" href="/images/default/favicon.ico">
    <link rel="manifest" href="/images/<%= currently.icon %>/manifest.json?v=<%= currently.icon %>">
    <link rel="mask-icon" href="/images/<%= currently.icon %>/safari-pinned-tab.svg?v=<%= currently.icon %>" color="#5bbad5">
    <link rel="shortcut icon" href="/images/<%= currently.icon %>/favicon.ico?v=<%= currently.icon %>">
  </head>

  <body id="wxkb_io" class="container">
    <header class="flex wrap" style="justify-content: space-between">
      <h1 class="m-a-1 small muted">Weather for <%= params.formatted_location %> <a class="m-x-1 nowrap" href="#change-location">Change location and units</a></h1>
      <h2 class="m-a-1 small muted" style="margin-right: 1em;" title="wxkb.io automatically refreshes every 10 minutes.">wxkb.io</h2>
    </header>
    <main>

    <% if (typeof alerts == "undefined" || !(alerts instanceof Array)) { %>
    <% } else { %>
    <%- include('../partials/alert', {data: alerts})%>
    <% } %>

      <article>
        <header class="card">
          <div>
            <h3 class="small muted">
              Now (updated: <%= moment.unix(currently.time).format(params.hoursFormat + ':mm')%><% if (params.hoursFormat === 'h') { %><span class="small-caps"><%= moment.unix(currently.time).format('a') %></span><% } %>)</h3>
            <div class="flex wrap status-primary">
              <span class="center"><%= Math.round(currently.temperature) %>º<%= params.scale %></span>
              <!--[if gte IE 9]><!-->
              <%- include('../../public/images/' + currently.icon + '.svg') %>
              <!--<![endif]-->
              <!--[if lte IE 8]>
                <%# IE8 and below see nothing :( %>
              <![endif]-->
            </div>
            <p class="forecast-primary"><%- include('../partials/summary', {data: currently}) %></p>
          </div>
        </header>
        <%
        var currentTime = moment.unix(currently.time);
        var tomorrowTime = currentTime.clone().add(1, 'days').startOf('day');
        var showTomorrow = currentTime.diff(tomorrowTime.clone().subtract(6, 'hours')) >= 0;
        %>
        <%- include('../partials/daily', {data: {name: "Today", daily: daily.data[0], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <% if(showTomorrow) { %>
            <%- include('../partials/daily', {data: {name: "Tomorrow", daily: daily.data[1], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <% } %>
        <section class="card">
          <h3 class="small muted">This week</h3>
          <p class="forecast-primary">
            <%= daily.summary %>
          </p>
        </section>
      </article>
      <section class="card">
        <%- include('../partials/change-location')%>
        <%- include('../partials/switch-units')%>
      </section>
    </main>
    <hr class="sr-only" />
    <aside>
      <p class="small p-a-1">wxkb.io automatically refreshes every 10 minutes.</p>
    </aside>
    <footer>
      <nav>
        <ul class="flex wrap small">
          <li class="p-a-1"><a href="https://github.com/JulianNorton/weather-10kb?wxkb.io" rel="noopener" target="_blank">wxkb.io code on Github</a></li>
          <li class="p-a-1"><a href="https://darksky.net/dev/?wxkb.io" rel="noopener nofollow" target="_blank">Powered by Dark Sky</a></li>
          <!-- Attribution not required for Amit's weather icons, but it's the right thing to do -->
          <li class="p-a-1"><a href="https://github.com/amitjakhu/dripicons-weather?wxkb.io" rel="noopener nofollow" target="_blank" title="Icons created by Amit Jakhu">Icons by Amit</a></li>
        </ul>
      </nav>
      <!-- wxkb.io is a collaboration between by Julian Norton and Ryan Williams licensed under GPL-2.0 -->
    </footer>
  </body>
</html>
