<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Math.round(currently.temperature) %>° <%= currently.summary.charAt(0).toUpperCase() + currently.summary.slice(1).toLowerCase() %> <%= params.formatted_location %> Weather</title>
    <%- include('../partials/head')%>
  </head>
  <body id="wxkb_io" class="container">
    <header class="flex wrap" style="justify-content: space-between">
      <h1 class="m-a-1 small muted" style="max-width:30em;">wxkb.io &ndash; weather for <%= params.formatted_location %> <a class="m-x-1 nowrap" href="#change-location">Change location</a></h1>
    </header>
    <main>

    <% if (typeof alerts == "undefined" || !(alerts instanceof Array)) { %>
    <% } else { %>
    <%- include('../partials/alert', {data: alerts})%>
    <% } %>

      <article>
        <header class="card card-block" id="weather-current">
          <div>
            <h3 class="small muted">
              Now (updated: <%= moment.unix(currently.time).fromNow()%>)</h3>
            <div class="flex wrap status-primary">
              <span class="center"><%= Math.round(currently.temperature) %>º<%= params.scale %></span>
              <%# This only shows the image if it's IE9 and above %>
              <!--[if gte IE 9]><!-->
              <%- include('../../public/images/' + currently.icon + '.svg') %>
              <!--<![endif]-->
            </div>
            <p class="forecast-primary"><%- include('../partials/summary', {data: currently}) %></p>
          </div>
        </header>
        <%
          var currentTime = moment.unix(currently.time);
          var tomorrowTime = currentTime.clone().add(1, 'days').startOf('day');
        %>
        <%- include('../partials/today', {data: {name: "Today", daily: daily.data[0], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <%- include('../partials/tomorrow', {data: {name: "Tomorrow", daily: daily.data[1], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <%- include('../partials/three-day-forecast') %>
        <section class="card card-block" id="forecast-week">
          <h3 class="small muted">This week</h3>
          <p class="forecast-primary">
            <%= daily.summary %>
          </p>
        </section>
      </article>
      <section class="card card-block" id="forecast-modify">
        <%- include('../partials/change-location')%>
        <%- include('../partials/switch-units')%>
      </section>
    </main>
    <hr class="sr-only" />
    <aside>
      <p class="small p-a-1">wxkb.io automatically refreshes every 10 minutes.</p>
    </aside>
    <%- include('../partials/footer')%>
  </body>
</html>
