<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= Math.round(currently.temperature) %>° <%= currently.summary.charAt(0).toUpperCase() + currently.summary.slice(1).toLowerCase() %> <%= params.formatted_location %> Weather</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Weather forecast that's high performance, open-source, collaborative, and accessible.">
    <meta property="og:email" content="julian@juliannorton.com">
    <meta name="robots" content="Index, follow">
    <meta http-equiv="refresh" content="600">
    <meta name="theme-color" content="#639"/>
    <style><%- include('../../public/style/main.css') %></style>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="48x48" href="/images/default/favicon.ico">
    <link rel="mask-icon" href="/images/<%= currently.icon %>/safari-pinned-tab.svg?v=<%= currently.icon %>" color="#5bbad5">
    <link rel="shortcut icon" href="/images/<%= currently.icon %>/favicon.ico?v=<%= currently.icon %>">
    <%# Code to register service worker that will take care of caching application files, enabling offline work. %>
    <%# allows the script to run when the DOM is loaded, without delaying page load first. %>
    <script src="/sw-registration.js" defer="true"></script>
  </head>

  <body id="wxkb_io" class="container">
    <header class="flex wrap" style="justify-content: space-between">
      <h1 class="m-a-1 small muted" style="max-width:30em;">wxkb.io &ndash; weather for <%= params.formatted_location %> <a class="m-x-1 nowrap" href="#change-location">Change location</a></h1>
      <h2 class="m-a-1 small muted" style="margin-right: 1em;">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSejNVYmzOFyvqscMk6QvoJcgom1AKkl5Ygjyyd8TQDgjAuRmA/viewform"
          rel="noopener nofollow noreferrer" target="_blank" title="Link opens in a new window" class="target-blank">
          Give feedback
        </a>
      </h2>
    </header>
    <main>

    <% if (typeof alerts == "undefined" || !(alerts instanceof Array)) { %>
    <% } else { %>
    <%- include('../partials/alert', {data: alerts})%>
    <% } %>

      <article>
        <header class="card card-block">
          <div>
            <h3 class="small muted">
              Now (updated: <%= moment.unix(currently.time).format(params.hoursFormat + ':mm')%><% if (params.hoursFormat === 'h') { %><span class="small-caps"><%= moment.unix(currently.time).format('a') %></span><% } %>)</h3>
            <div class="flex wrap status-primary">
              <span class="center"><%= Math.round(currently.temperature) %>º<%= params.scale %></span>
              <%# This only shows the image if it's IE9 and above %>
              <!--[if gte IE 9]><!-->
              <%- include('../../public/images/' + currently.icon + '.svg') %>
              <!--<![endif]-->
            </div>
            <p class="forecast-primary"><%- include('../partials/summary', {data: currently}) %></p>
          </div>
        </header>
        <%
          var currentTime = moment.unix(currently.time);
          var tomorrowTime = currentTime.clone().add(1, 'days').startOf('day');
        %>
        <%- include('../partials/today', {data: {name: "Today", daily: daily.data[0], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <%- include('../partials/tomorrow', {data: {name: "Tomorrow", daily: daily.data[1], hourly: hourly.data, tomorrowTime: tomorrowTime}})%>
        <section class="card card-block">
          <h3 class="small muted">This week</h3>
          <p class="forecast-primary">
            <%= daily.summary %>
          </p>
        </section>
      </article>
      <section class="card card-block">
        <%- include('../partials/change-location')%>
        <%- include('../partials/switch-units')%>
      </section>
    </main>
    <hr class="sr-only" />
    <aside>
      <p class="small p-a-1">wxkb.io automatically refreshes every 10 minutes.</p>
    </aside>
    <footer>
      <nav>
        <ul class="flex wrap small">
          <li class="p-a-1">
            <a href="https://opencollective.com/weather-10kb" rel="noopener nofollow noreferrer" target="_blank" title="Link opens in a new window" class="target-blank">wxkb.io finances</a>
          </li>
          <li class="p-a-1">
            <a href="https://github.com/JulianNorton/weather-10kb" rel="noopener nofollow noreferrer author" target="_blank" title="Link opens in a new window" class="target-blank">wxkb.io Github</a>
          </li>
          <li class="p-a-1">
            <a href="https://darksky.net/dev" rel="noopener nofollow noreferrer" target="_blank" title="Link opens in a new window" class="target-blank">Powered by Dark Sky</a>
          </li>
        </ul>
      </nav>
      <%# wxkb.io was orginally created by by Julian Norton and Ryan Williams licensed under GPL-2.0 %>
    </footer>
  </body>
</html>
